---
import LandingHeader from '@/components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import CurrentProject from '@/components/CurrentProyect.astro';
import '@fontsource/pirata-one';
import '@fontsource/holtwood-one-sc';
import '@fontsource/im-fell-dw-pica-sc';
import '@fontsource/diplomata-sc';
import Footer from '@/components/Footer.astro';
import Proyectos from '@/components/Proyectos.astro';
import Aboutme from '@/components/Aboutme.astro';


---

<Layout title="Alan San | Desarrollador web">
	<main id="main" class=" bg-primary">
		<LandingHeader  />
		<Hero/>
		<CurrentProject/>
		<Proyectos/>
		<Aboutme/>
		<Footer/>
				
	</main>
</Layout>

