<section class="flex justify-center items-center content-center flex-col mt-14">
  <button
    id="boton"
    class="border-2 border-gray-600 rounded-full w-20 h-20 hover:cursor-pointer flex justify-center flex-col items-center shadow-xl transition duration-300 ease-in-out mt-14"
    ><p class="mt-6 mx-1 text-xs font-rocks">About me</p>
    <div id="arrowDown" class="felx">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M6 9l6 6l6 -6"></path></svg
      >
    </div>
    <div id="arrowUp" class="hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M6 15l6 -6l6 6"></path></svg
      >
    </div>
  </button>
  <article
    id="aboutme"
    class="mt-10 w-[350px] md:w-[800px] lg:w-[1000px] text-md md:text-3xl hidden font-old leading-none "
  >
    <p>
      Hola, mi nombre es Alan Isai Sandoval T; pero me dicen Alan San. Soy un
      chico al que siempre le ha llamado la atenci칩n los dise침os tan geniales
      que hay por la web. Mi inter칠s espec칤fico en esto surgi칩 desde la
      pandemia. 
      
    </p>
    <p class="mt-8">
      Toda mi vida he sido un comerciante y he ofrecido mi
      personalidad y habilidades al servicio. Actualmente
      trabajo en un restaurante argentino muy popular de Guadalajara, M칠xico,
      llamado La Matera, donde desempe침o el rol de mesero.
      De de forma autodidacta he aprendido sobre el desarrollo web y me he
        enfocado en el Frontend.
    </p>
    <p class="mt-8">
      <span class="font-old text-md md:text-3xl">Mi objetivo es crear</span>
      dise침os chulos y funcionales para la web, desarrollando mis ideas digitalmente.
      Me encantar칤a <span class="font-bold text-md md:text-3xl"
        >ser parte de un equipo y trabajar con m치s desarrolladores</span
      > para aprender de ellos, relacionarme con personas interesantes que tengan
      esta misma pasi칩n que yo por la programaci칩n y desarrollo web. Espero pronto
      contarte m치s sobre m칤 游땙.
    </p>
  </article>
</section>
<div
  class="flex w-full md:justify-end md:content-end justify-center items-center mt-3"
>
  <img
    src="/public/imagenes/firma.webp"
    alt="mi firma hecha a mano"
    class="size-32 md:size-48 lg:size-48"
  />
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const aboutme = document.getElementById("aboutme");
    const boton = document.getElementById("boton");
    const flechaAbajo = document.getElementById("arrowDown");
    const flechaArriba = document.getElementById("arrowUp");

    if (boton && aboutme && flechaAbajo && flechaArriba) {
      boton.classList.add("animate-bounce");
      flechaAbajo.classList.add("animate-bounce");
      flechaAbajo.classList.add("1s");

      boton.addEventListener("click", function () {
        aboutme.classList.toggle("hidden");
     
       
     
       
       
        boton.classList.toggle("animate-bounce");
        flechaArriba.classList.toggle("animate-bounce");

        if (flechaAbajo.classList.contains("hidden")) {
          flechaAbajo.classList.remove("hidden");

          flechaArriba.classList.add("hidden");
        } else {
          flechaAbajo.classList.add("hidden");
          flechaArriba.classList.remove("hidden");
        }
      });
    }
  });
</script>
