<section class="flex justify-center items-center content-center flex-col mt-14">
  <button
    id="boton"
    class="border-2 border-gray-600 rounded-full w-20 h-20 hover:cursor-pointer flex justify-center flex-col items-center shadow-xl transition duration-300 ease-in-out mt-14"
    ><p class="mt-6 mx-1 text-xs font-rocks">About me</p>
    <div id="arrowDown" class="felx">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M6 9l6 6l6 -6"></path></svg
      >
    </div>
    <div id="arrowUp" class="hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M6 15l6 -6l6 6"></path></svg
      >
    </div>
  </button>
  <article
    id="aboutme"
    class="mt-10 w-[350px] md:w-[800px] lg:w-[1040px] text-md md:text-3xl hidden font-old leading-none  lg:p-16"
  >
    <p>
      Hola, mi nombre es Alan Isai Sandoval T. Soy alguien que tiene mucha
      pasi칩n por tres cosas: la tecnolog칤a, los videojuegos y el dise침o web,
      tanto as칤 que este portafolio est치  <span class=" text-red-900 font-bold">inspirado en</span> el videojuego de <span class=" text-red-900 font-bold">Red Dead
        Redemption II,</span>  un gran juego de forajidos.
    </p>

    <p class=" mt-4 md:mt-8">
      Toda mi vida he sido un comerciante y he ofrecido mi personalidad y
      habilidades al servicio, pero ahora quiero programar y dar un giro a mis
      experiencias.
    </p>

    <p class=" mt-4 md:mt-8">
      <span class="font-old md:text-3xl">Mi objetivo es resaltar</span>
      mis ideas sin ignorar lo funcional y necesario para nuevos desarrollos.
      <span class="font-bold md:text-3xl text-red-900">
        Me encantar칤a ser parte de un equipo y trabajar con m치s desarrolladores</span
      >
      para aprender de ellos, relacionarme con personas interesantes que tengan esta
      misma pasi칩n que yo por la programaci칩n y desarrollo web.
    </p>

    <p class=" mt-4 md:mt-8">Espero pronto contarte m치s sobre m칤 游땙.</p>
  </article>
</section>
<div
  class="flex w-full md:justify-end md:content-end justify-center items-center mt-3"
>
  <img
    src="/imagenes/mifirma.webp"
    alt="mi firma hecha a mano"
    class="size-32 md:size-48 lg:size-48"
  />
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const aboutme = document.getElementById("aboutme");
    const boton = document.getElementById("boton");
    const flechaAbajo = document.getElementById("arrowDown");
    const flechaArriba = document.getElementById("arrowUp");

    if (boton && aboutme && flechaAbajo && flechaArriba) {
      boton.classList.add("animate-bounce");
      flechaAbajo.classList.add("animate-bounce");
      flechaAbajo.classList.add("1s");

      boton.addEventListener("click", function () {
        aboutme.classList.toggle("hidden");

        boton.classList.toggle("animate-bounce");
        flechaArriba.classList.toggle("animate-bounce");

        if (flechaAbajo.classList.contains("hidden")) {
          flechaAbajo.classList.remove("hidden");

          flechaArriba.classList.add("hidden");
        } else {
          flechaAbajo.classList.add("hidden");
          flechaArriba.classList.remove("hidden");
        }
      });
    }
  });
</script>
