<div
    id="carousel"
    class="relative w-[170px] md:w-[380px] lg:w-[500px] mt-1 md:mt-10 bg-slate-50 md:h-64 rounded-lg"
    data-carousel="slide"
  >
    <!-- Carousel wrapper -->
    <div
      class="relative h-full md:h-64 lg:h-72 overflow-hidden rounded-lg bg-slate-800"
    >
      <!-- Item 1 -->
      <div class=" duration-700 ease-in-out" id="carousel-item-1">
        <a href="/evidencias/ideas.webp" target="_blank">
          <img
            src="/public/evidencias/ideas.webp"
            class="absolute  object-cover block  h-full w-full "
            alt=" evidencias de mis proyectos"
            
          />
        </a>
      </div>
      <!-- Item 2 -->
      <div class=" hidden duration-700 ease-in-out" id="carousel-item-2">
        <a href="/public/evidencias/ideas2.webp" target="_blank">
          <img
            src="/evidencias/ideas2.webp"
            class="absolute block object-cover h-full w-full "
            alt=" evidencias de mis proyectos 2"
            
          />
        </a>
      </div>
    </div>
    <!-- Slider controls -->
    <button
      id="prev"
      type="button"
      class="absolute  top-36 md:top-0 start-0 z-30 flex items-center justify-center h-full px-7 cursor-pointer group focus:outline-none"
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/40 group-hover:bg-white/90"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      id="next"
      type="button"
      class="absolute top-36 md:top-0 end-0 z-30 flex items-center justify-center h-full px-7 cursor-pointer group focus:outline-none"
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/40 group-hover:bg-white/90"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</article>

<script>
 document.addEventListener("DOMContentLoaded", function () {
    const $carousel = document.getElementById("carousel");

    if (!$carousel) return; // Asegúrate de que el carrusel exista antes de continuar

    const $carouselItems = Array.from($carousel.querySelectorAll('[id^="carousel-item-"]'));
    const $prevButton = document.getElementById("prev");
    const $nextButton = document.getElementById("next");

    let actualFoto = 0; // Inicia en el primer elemento

    // Función para mostrar el elemento actual y ocultar los demás
    const showSlide = (index) => {   
      $carouselItems.forEach((item, i) => {
        if (i === index) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    };

    $prevButton?.addEventListener("click", () => {
      actualFoto = (actualFoto - 1 + $carouselItems.length) % $carouselItems.length; // Calcula el índice del elemento anterior
      showSlide(actualFoto); // Muestra el elemento anterior
    });

    // Asegúrate de que se muestra el primer elemento al cargar la página
    showSlide(actualFoto);

    $nextButton?.addEventListener("click", ()=>{
      actualFoto = (actualFoto + 1) % $carouselItems.length; // Calcula el índice del siguiente elemento
      showSlide(actualFoto); // Muestra el siguiente elemento
    })
  });
</script>
