

<div class=" flex w-full rounded-lg mt-5 md:mt-16 lg:mt-24  justify-center mb-2">
  <h1 class=" font-extrabold text-3xl md:text-6xl lg:text-7xl mr-3">Con todo y evidencias</h1>
</div>

<article class="flex justify-between">

  <div class=" flex w-[160px] md:w-[330px] lg:w-[540px] flex-col text-pretty text-xs md:text-xl mt-2 md:mt-3 lg:mt-14  ">
    <p class=""><span class=" font-bold text-x md:text-xl">Mi mas reciente proyecto es el rediseño de la pagina web de mi actual trabajo</span>, un restaurante argentino con gran trayectria aqui en la ciudad de Gdl.
    
    </p>
    <p class="w-[325px] lg:w-[540px] mt-1 ">Este proyecto es <span class="font-bold text-xs md:text-xl">para practicar y poner aprueba mis conocimientos</span>, a los dueños le intereso lo que estoy estudiando  y estan a la espera de ver mis resultados para adoptrala como su pagina oficial.</p>
  </div>
  <!-- aqui va el carrusel  -->
  <div class=" flex justify-end mr-3 mt-1 md:mt-5">
  
    <img src="/evidencias/evidencia.webp" class="  flex w-[170px] h-[100px] md:w-[450px] md:h-[260px] " alt="imagenes de proyectos, evidencias">
  </div>
</article>
<!-- 
// sin embargo lo que quieres es entrar al mundo de la programacion para rodearce de gente con la que pueda resolver dudas y tranjara junto con ellas que estudiar de forma autodidiacta se ha -->