---
import Carousel from "@/components/Carousel.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkButton from "./icons/LinkButton.astro";
import PROJECTS from "./Proyectos.astro";
---

<section id="actual" class="lg:w-[1040px] text-secundary">
  <div
    class="flex rounded-lg mt-5 md:mt-16 lg:mt-26 mb-2 md:w-full w-full justify-center"
  >
    <h1
      class="font-rdr justify-center text-4xl m-5 md:text-6xl lg:text-7xl md:w-full flex opacity-70"
    >
      Con todo y evidencias
    </h1>
  </div>

  <article
    class="flex justify-between text-md leading-none  text-pretty md:px-4"
  >
    <div
      class="flex w-[180px] md:w-[560px] lg:w-[540px] flex-col mt-2 md:mt-8 lg:mt-4 md:m-4"
    >
      <p class="font-old md:text-2xl md:w-[480px] opacity-70">
        Hay rumores de que tiene contacto con una leyenda viviente, se trata de <a
          href="https://midu.dev"
          class="underline"
          target="_blank"
          rel="noopener noreferrer"
          
          >@midudev</a
        >, y tras seguir algunas de sus pistas, parece ser que están intentando
        hacer una plataforma similar a la de Twitch.
      </p>
      <p
        class="font-old w-[175px] md:w-[480px] lg:w-[480px] mt-1 leading-none md:text-2xl opacity-70"
      >
        Actualmente está superando esta prueba con lo que el mismo Midu le
        enseñó a Alan: React y Astro. Lo preocupante es que, mientras lo
        reclutan, él está reforzando el manejo de las API's, las páginas
        dinámicas en Astro y el diseño UI.
      </p>
      <div class="hidden md:block mt-6 w-max md:ml-36 lg:ml-28">
        <LinkButton href="https://github.com/AlanSan1195/miduch-pryect">
          <GitHubIcon class="size-3 md:size-5" />
          <p class="opacity-65 hover:opacity-90">Ver Proyecto</p>
        </LinkButton>
      </div>
    </div>

    <Carousel />
  </article>
  <!-- button para mobile -->
  <div class="mt-5 w-max md:ml-36 lg:ml-20 md:hidden font-rocks text-xs">
    <LinkButton href="https://github.com/AlanSan1195/miduch-pryect">
      <GitHubIcon class="size-3 md:size-5" />
      <p class="text-red-800 opacity-70 hover:opacity-90">Ver Proyecto</p>
    </LinkButton>
  </div>
</section>
