---
const currentYear = new Date().getFullYear();
---
<footer class=" flex w-full mx-auto py-1  border-b-2 border-black mb-5 shadow-lg border-t-2 justify-center content-center items-center   ">
    <div
    class="w-full mx-auto flex flex-col justify-center items-center md:flex-row md:items-center md:justify-between  "
  >
    <span class="text-md sm:text-center text-secondary m-2 font-old"
      >© {currentYear}
      <a href="https://midu.dev/" class="hover:underline">alansan</a>.
      Todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap text-xs font-rocks text-secundary m-2  "
    >
      <li class=" flex justify-between mx-6 ">
        <a href="https://www.instagram.com/i.san____/" target="_blank" class="hover:underline  flex  flex-col items-center  "><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>Instagram</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/alan-sandoval-b1b759187/" target="_blank" class="hover:underline flex flex-col items-center"><svg {...Astro.props} xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>Linkedln</a>
      </li>
    </ul>
  </div>
    
</footer>