---
const currentYear = new Date().getFullYear();
---
<footer class=" flex w-full mx-auto  mb-10 border-b-2 border-black  shadow-lg border-t-2 justify-center content-center items-cente m-10 ">
    <div
    class="w-full mx-auto md:flex md:items-center md:justify-between ml-3 mr-3"
  >
    <span class="text-sm sm:text-center text-secondary "
      >© {currentYear}
      <a href="https://midu.dev/" class="hover:underline">alansan</a>.
      Todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-secundary sm:mt-0"
    >
      <li>
        <a href="https://www.instagram.com/i.san____/" class="hover:underline me-4 md:me-6">Instagram</a>
      </li>
      <li>
        <a href="alansandovalt1@gmail.com" class="hover:underline">Linkelin</a>
      </li>
    </ul>
  </div>
    
</footer>