<div
  class="mt-4 justify-center items-center content-center flex-col mx-auto w-[350px] md:w-[550px] lg:w-[700px]"
>
  <h1 class="text-7xl md:text-9xl lg:text-[180px] font-extrabold flex justify-center font-rdr">
    Ala San
  </h1>
  <p class="flex justify-end mr-16 md:mr-24 lg:mr-18 text-xs">
    ℠Aprendiendo Frontend
  </p>
</div>
<section id="hero" class="flex mx-auto w-[360px] md:w-[900px] lg:w-[1040px]  md:mt-7 lg:mt-10 ">

  <div class=" grid grid-cols-2 md:gap-1 lg:gap-8  ">

    <div class=" lg:mt-22  mt-7 md:size-9/12 lg:size-8/12 lg:ml-4   ">
      <img class=" rounded-md  " src="/imagenes/chamba.webp" alt="" />
    </div>
    <div class="flex flex-col ml-2 mr-1 mt-4 text-pretty md:mt-11 lg:m-4 ">
      <p
        class="  font-rocks text-2xl md:text-7xl lg:text-8xl felx  md:-ml-20 lg:-ml-44   "
      >
        Se busca chamba!
      </p>
      <span
        class="font-old text-md text-pretty md:text-3xl lg:text-4xl md:-ml-20 lg:-ml-40 leading-none "
      >
        <span class="font-bold text-md md:text-3xl lg:text-4xl"
          >Junior +1 año de experiencia</span
        >, se dice que este chico quiere ser programador, hemos visto como no deja
        de estudiar todos los dias y pensa que mientras sigue aprendiendo lo mejor
        es ir buscando trabajo tirando este porfolio hecho con sus manitas.</span
      >
    </div>
  </div>
</section>
<!-- <div>


  <img class="lg:mt-12 md:mt-12 mt-12 " src="/imagenes/chamba.webp" alt="" />
</div>
<div class="flex flex-col ml-2 mr-1 mt-4 text-pretty md:ml-12 lg:ml-12 ">
  <h1
    class="font-rocks text-4xl md:text-8xl lg:text-8xl flex justify-center content-center "
  >
    Se busca chamba!!
  </h1>
  <span
    class="font-old text-md text-pretty md:text-3xl lg:text-4xl leading-none"
  >
    <span class="font-bold text-md md:text-3xl lg:text-4xl"
      >Junior +1 año de experiencia</span
    >, se dice que este chico quiere ser programador, hemos visto como no deja
    de estudiar todos los dias y penso que mientras sigue aprendiendo lo mejor
    es ir buscando trabajo tirando este porfolio hecho con sus manitas.</span
  >
</div> -->
