<div
  class="text-secundary mt-4 justify-center items-center content-center flex-col mx-auto w-[350px] md:w-[550px] lg:w-[700px]"
>
  <title
    class="text-7xl md:mt-14 md:text-9xl lg:text-[180px] font-extrabold flex justify-center font-rdr opacity-70"
  >
    Alan San
  </title>
  <p
    class="flex justify-end mr-11 md:mr-24 lg:mr-14 text-xs lg:text-base font-old text-red-800"
  >
    ℠Frontend Developer
  </p>
</div>
<section
  id="hero"
  class="flex text-secundary  md:px-5 mx-auto w-[360px] md:w-[900px] lg:w-[1040px] md:mt-7 lg:mt-10"
>
  <div class="grid grid-cols-2 md:gap-1 lg:gap-8 ">
    <div class="lg:mt-22 my-auto md:size-9/12 lg:size-8/12 lg:ml-4">
      <img
        class="rounded-md speia-effect-perfile"
        src="/imagenes/chamba.webp"
        alt="mi foto"
      />
    </div>
    <div
      class="flex flex-col ml-2 mr-1 mt-3 text-pretty md:mt-12 lg:m-4 lg:mt-[50px]"
    >
      <h1
        class="font-rdr opacity-70 text-5xl md:text-7xl lg:text-8xl felx md:-ml-20 lg:-ml-44 font-extraboldw lg:w-[660px]"
      >
        Se busca chamba!
      </h1>
      <article
        class="font-old text-md text-pretty md:text-3xl lg:text-4xl md:-ml-20 lg:-ml-40 leading-none"
      >
        <span class="font-bold text-md md:text-3xl lg:text-4xl text-red-800"
          >Junior +1 año de experiencia</span
        > <p class=" opacity-65">
          se dice que este chico quiere ser programador, hemos visto como no
          deja de trabajar en sus proyectos todos los dias y piensa que mientras
          sigue aprendiendo, lo mejor es ir buscando trabajo tirando este
          porfolio hecho con sus manitas.
        </p>
      </article>
    </div>
  </div>
</section>
