<header class=" mx-auto justify-center shadow-sm  ">
  <h1 class=" flex text-secundary text-4xl md:text-7xl font-bold border-b-2 border-secundary mt-5  justify-center items-center font-pirate ">
    The New Times Alan's
  </h1>
  <nav
    class="text-secundary flex items-center border-b-2 border-secundary justify-between shadow-md "
  >
    <h3 class="ml-2 font-medium">15/sep/1995</h3>
    <a href="mailto:alansandovalt1@gmail.com" target="_blank" rel=" noopener noreferrer" >
      <h3 class="mr-2 font-normal hover:cursor-pointer">Contacto</h3>
    </a>
  </nav>
</header>
