<header class=" mx-auto justify-center shadow-sm    ">
  <h1 class=" flex text-secundary text-2xl md:text-6xl  border-b-2 border-secundary   mt-4 md:mt-0    justify-center items-center font-rocks   ">
    The news of the day
  </h1>
  <nav
    class="text-secundary flex items-center border-b-2  border-secundary justify-between md:shadow-none font-rdr text-ld md:text-3xl  "
  >
    <h3 class="ml-2 lg:m-2 lg:ml-8  ">15/sep/1995</h3>
   
    <a href="mailto:alansandovalt1@gmail.com" target="_blank" rel=" noopener noreferrer" >
      <h3 class="mr-2 hover:cursor-pointer hover:scale-110 transition delay-100 lg:m-2 lg:mr-8">Contactame</h3>
    </a>
  </nav>
</header>
