---
const { href } = Astro.props;
---

<a

      href={href}
      class=" border-[1px] border-white/50 rounded-lg inline-flex justify-center items-center gap-x-2 py-1 px-2  md:py-2 md:px-4 text-sm md:text-base transition hover:scale-110 hover:bg-white/10 shadow-lg font-rocks "
      target="_blank"
      
    >
      <slot></slot>

    </a>