---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/imagenes/alanSan.webp" />
    <link
      rel="preload"
      href="/fonts/chinese_rocks_rg.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
    />
    <meta
      name="description"
      content="Diseño web | Freelance. Frontend JavaScript. Desarrollador web especializado en React y Astro en Guadalajara."
    />
    <meta
      name="keywords"
      content="Diseñador web, Frontend, Javascript, React, Astro, Frameworks, Python, freelance en guadalajara, freelance, guadalajara, gdl, UI/UX, web, diseño, maquetación web."
    />
    <link href="https://alansan.pro" rel="canonical" />
    <meta content="Alan Sandoval - https://alansan.pro" name="author" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#090909" />

    <!-- Open Graph / Facebook -->
    <meta content="https://alansan.pro" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="Alan Sandoval | AlanPr0o" property="og:title" />
    <meta
      content="Diseño web | Freelance. Frontend JavaScript. Desarrollador web especializado en React y Astro en Guadalajara."
      property="og:description"
    />
    <meta
      property="og:image"
      content="https://alansan.pro/imagenes/preview-share.webp"
    />
    <meta property="og:site_name" content="Alan Sandoval Portfolio" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="alansan.pro" />
    <meta name="twitter:url" content="https://alansan.pro" />
    <meta name="twitter:title" content="Alan Sandoval | AlanPr0o" />
    <meta
      name="twitter:description"
      content="Desarrollador web, Javascript Front End especializado en React y Astro en Guadalajara"
    />
    <meta
      name="twitter:image"
      content="https://alansan.pro/imagenes/preview-share.webp"
    />
    <meta name="twitter:creator" content="@AlanPr0o" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* --color-primary: #b4b7b1; */
    /* --color-secondary: #3b3c3c; */
    --color-primary: #090909;
    --color-secundary: white;
  }
  @font-face {
    font-family: "chinese_rocks_rg";
    src: url(/fonts/chinese_rocks_rg.otf) format("opentype");
  }

  html {
    background-color: var(--color-primary);
    background-size: 50% 50%;
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    content: center;
  }

  @media (min-width: 768px) {
    #main {
      box-shadow: 0px 0px 90px -20px rgba(76, 73, 73, 0.45);
      border-right: rgba(255, 255, 255, 0.28) 7px solid;
      border-left: rgba(255, 255, 255, 0.28) 7px solid;
    }
  }
  .speia-effect {
    filter: sepia(60%) contrast(110%) brightness(60%);
  }
  .speia-effect-current {
    filter: sepia(70%) contrast(110%) brightness(80%);
  }
  .speia-effect-perfile {
    filter: sepia(25%) contrast(110%) brightness(80%);
  }
</style>
