---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/imagenes/alanSan.webp" />
    <meta
      name="description"
      content="Diseño web | Freelance. Frontend JavaScript.  "
    />
    <meta
      name="keywords"
      content="Diseñador web, Frontend, Javascript, React, Atro, Frameworks, python,freelance en guadalajata, freelance, guadalajara, gdl, UI/UX, web, diseño, maquetación web."
    />
    <link href="https://alansan.pro" rel="canonical" />
    <meta content="Alan Sandoval - https://alansan.pro" name="author" />

    <meta content="https://alansan.pro" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="Alan Sandoval | AlanPr0o" property="og:title" />
    <meta
      content="Desarrollador web freelance, propuestas de diseños para tu pagina web, blogs o landing page."
      property="og:description"
    />
    <meta
      content="/imagenes/preview-share.webp"
      property="og:image"
    />
    <!-- tags twitter  -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="https://alansan.pro" />
    <meta name="twitter:url" content="https://alansan.pro" />
    <meta name="twitter:title" content="Alan Sandoval | AlanPr0o" />
    <meta
      name="twitter:description"
      content="Desarrollador web, Javascript Front End"
    />
    <meta
      name="twitter:image"
      content="/imagenes/preview-share.webp"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* --color-primary: #b4b7b1; */
    /* --color-secondary: #3b3c3c; */
    --color-primary: #090909;
    --color-secundary: white;
  }
  @font-face {
    font-family: "chinese_rocks_rg";
    src: url(/fonts/chinese_rocks_rg.otf);
  }

  html {
    background-color: var(--color-primary);

    background-size: 50% 50%;
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    content: center;
  }

  @media (min-width: 768px) {
    #main {
      box-shadow: 0px 0px 90px -20px rgba(76, 73, 73, 0.45);
      border-right: rgba(255, 255, 255, 0.28) 7px solid;
      border-left: rgba(255, 255, 255, 0.28) 7px solid;
    }
  }
  .speia-effect {
    filter: sepia(60%) contrast(110%) brightness(60%);
  }
  .speia-effect-current {
    filter: sepia(70%) contrast(110%) brightness(80%);
  }
  .speia-effect-perfile {
    filter: sepia(25%) contrast(110%) brightness(80%);
  }
</style>
