---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #b4b7b1;
    --color-secondary: #3b3c3c;
  }
  @font-face {
    font-family: "Pirata One";
    src: url();
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    content: center;
  }

</style>
